*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url('OIP\ \(2\).jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
   
}
@media(max-width:600px){
  body{
 flex-direction: column;
 background-image: url('R.jpg');
  height: 100vh;

  }
}
.container{
    width: 550px;
    height: 450px;
}
@media(max-width:360px){

.container h2{
    font-size: 15px;
}
}

.header{
    font-size: 1.2rem;
    border: 2px solid white;
    color: white;
    background-color: rgb(24, 23, 23);
    padding: 5px;
    width: 80%;
    margin: 20px auto; 
    border-radius: 5px;
}
.main-content{
    justify-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    border-radius: 15px;
    padding: 50px 40px;
    box-shadow: 0 0 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid red;
    margin-left: 20px;
    margin-right: 20px;
}
@media(max-width:600px){
  .main-content{
width: 50%;
  }
}
.main-content .text-area{
    font-size: 1.2rem;
    line-height: 1.2rem;
}
.main-content .person{
    font-size: 1.6rem;
color: red;
text-transform: uppercase;
margin-top: 20px;
}
.button-area button{
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 5px;
}
.button-area button:active{
    background-color: lightblue;
}
a{
    font-size: 18px;
  color: plum;
    text-decoration: none;
    font-weight: bold;
}
.link-div{
    background: linear-gradient(to right, rgb(1, 34, 49), black);
    border: 2px solid red;
    margin-right: 6px;
}